/* CSS for Resume Creator */
.resume-builder {
    padding: 20px;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.resume_container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputField {
    display: flex;
    flex-direction: column;
}

.inputField input[type="text"],
.inputField textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputField textarea {
    resize: vertical;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1b4f72;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e3753;
}

.output_container {
    display: none;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
